@inherits LayoutComponentBase;
@layout MainLayout;
@inject NavigationManager _navManager;

@*shared dashboard layout stuff*@

<BackButton class="mt-5 mx-5"/>

<h2 class="text-xl mx-5">Dashboard</h2>

@Body
