@page "/dashboard"

<main class="flex flex-col items-center">
    <h3 class="text-lg mt-5">Tests</h3>
    <section>
        <NavLink href=""><span>Give</span></NavLink>
        <NavLink href=""><span>Create</span></NavLink>
        <NavLink href=""><span>View Created</span></NavLink>
        <NavLink href=""><span>Delete</span></NavLink>
    </section>
          
    <NavLink href="@(MasterListUri)">
        <h3 class="text-lg mt-5">
            Master Lists
        </h3>
    </NavLink>
    
    <h3 class="text-lg mt-5">Completed Tests</h3>
    <section>
        <NavLink href=""><span>View</span></NavLink>
    </section>

    <h3 class="text-lg mt-5">Users</h3>
    <section>
        <NavLink href=""><span>Create</span></NavLink>
        <NavLink href=""><span>View</span></NavLink>
        <NavLink href=""><span>Delete</span></NavLink>
    </section>
</main>

