@inherits LayoutComponentBase

<h1 class="text-center text-2xl" >VerbIt</h1>

<div>
    <div>
        <NavMenu />
    </div>

    <main>
        <article>
            @Body
        </article>
    </main>
</div>
