@inject INetworkService NetworkService;
@inject NavigationManager NavigationManager;

<div>
    <nav>
        <div>
            <NavLink href="/" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="flex">
            <NavLink href="login">
                <span aria-hidden="true"></span> Login
            </NavLink>
            <AuthorizeView>
                <Authorized>
                    <button class="btn-main" @onclick="CallLogout">Log out</button>
                </Authorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    public async Task CallLogout()
    {
        await NetworkService.Logout();
        NavigationManager.NavigateTo("/");
    }
}
