<div>
    <nav>
        <div>
            <NavLink href="/" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div>
            <NavLink href="login">
                <span aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div>
            <NavLink href="counter">
                <span aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div>
            <NavLink href="fetchdata">
                <span aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {

}
