@inject INetworkService NetworkService;
@inject NavigationManager NavigationManager;

<nav class="flex gap-5 px-5">
    <NavLink href="/" Match="NavLinkMatch.All">
        <span aria-hidden="true"></span> Home
    </NavLink>    

    <AuthorizeView>
        <NotAuthorized>
            <NavLink href="login">
                <span aria-hidden="true"></span> Login
            </NavLink>  
        </NotAuthorized>
        <Authorized>
            <button class="btn-main" @onclick="CallLogout">Log out</button>
        </Authorized>
    </AuthorizeView>

    <NavLink href="dashboard">
        <span aria-hidden="true"></span>Dashboard
    </NavLink>
</nav>

@code {
    public async Task CallLogout()
    {
        await NetworkService.Logout();
        NavigationManager.NavigateTo("/");
    }
}
