@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<AuthorizeView>
    <Authorized>        
        <h1>Weather forecast</h1>        
        <h2>(but not really)</h2>
    </Authorized>    
    <NotAuthorized>
        <h1>No auth for you!</h1>
    </NotAuthorized>
</AuthorizeView>

@code {

}
