@page "/login"

<h3>Login</h3>

<div>
    <label for="usernameInput">Username</label>
    <input id="usernameInput" @bind="_username" type="text" class="border-solid"/>
</div>

<div>
    <label for="passwordInput">Password</label>
    <input id="passwordInput" @bind="_password" type="password"/>
</div>

<button class="btn-main" type="button" @onclick="CallLogin">Login</button>

@code {
    [CascadingParameter]
    IModalService _modalService { get; set; } = null!;


    protected override async Task OnInitializedAsync()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(MessageBox.OkText), "Yes, delete");
        parameters.Add(nameof(MessageBox.CancelText), "Cancel");
        parameters.Add(nameof(MessageBox.Message), "Are you sure you want to delete the master list named 'BLARG!'?");

        var result = _modalService.Show<MessageBox>("Test Title", parameters);

        var resultData = await result.Result;

        Console.WriteLine($"Modal closed. Result - Cancelled: {resultData.Cancelled}");
    }
}