@page "/login"
@inject INetworkService _networkService;
@inject NavigationManager _navigationManager;

<h3>Login</h3>

<label for="usernameInput">Username</label>
<input id="usernameInput" @bind="loginRequest.Username" type="text" class="border-solid"/>

<label for="passwordInput">Password</label>
<input id="passwordInput" @bind="loginRequest.Password" type="password"/>

<button type="button" @onclick="CallLogin">Login</button>

@code {
    private LoginRequest loginRequest = new LoginRequest();

    private async Task CallLogin()
    {
        bool loginSuccess = await _networkService.Login(loginRequest, CancellationToken.None);
        if (loginSuccess)
        {            
            // navigate to useful place
        }
    }
}