@page "/login"

<h3>Login</h3>

<div>
    <label for="usernameInput">Username</label>
    <input id="usernameInput" @bind="loginRequest.Username" type="text" class="border-solid"/>
</div>

<div>
    <label for="passwordInput">Password</label>
    <input id="passwordInput" @bind="loginRequest.Password" type="password"/>
</div>

<button class="btn-main" type="button" @onclick="CallLogin">Login</button>